.wrapper {
  width: 100%;
  height: auto;
  border-radius: 8px;
  background: #1a1a1d;
  box-sizing: border-box;
  border:1px solid transparent;
  .category {
    border-radius: 7px;
    background: transparent;
    width: 225px;
    height: auto;
    color: #fff;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 171%;
    box-sizing: border-box;
    padding:7px 12px;
    margin:15px auto;
    display:flex;
    flex-flow:row nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 9px;
    transition:0.1s;
    &:hover{
        cursor:pointer;
    }
  }
  .activeCategory {
    background: #e4a520;
    color: #604610;
    transition:0.1s;
  }
}
