.wrapper {
  width: min(1920px, 100vw);
  height: auto;
  background: #0e0e10;
  position: relative;
  .smallCross1 {
    width: 46px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 148px;
    left: 200px;
  }
  .smallCross2 {
    width: 46px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 440px;
    right: 338px;
  }
  .smallCross3 {
    width: 46px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 924px;
    left: 127px;
  }
  .mediumCross {
    width: 80px;
    aspect-ratio: 1/1;
    position: absolute;
    mix-blend-mode: overlay;
    top: 114px;
    right: 139px;
  }
  .largeCross1 {
    width: 150px;
    aspect-ratio: 1/1;
    position: absolute;
    mix-blend-mode: overlay;
    top: 580px;
    left: 246px;
  }
  .largeCross2 {
    width: 150px;
    aspect-ratio: 1/1;
    position: absolute;
    mix-blend-mode: overlay;
    top: 830px;
    right: 69px;
  }
  & main {
    width: min(390px, 100vw);
    height: auto;
    margin: 73px auto 0;
    & header {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      & h2 {
        color: #eaeaea;
        font-family: Gilroy;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .mainFlexContainer {
      width: 309px;
      height: auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      margin: 31px auto 0;
      & nav {
        width: 100%;
        height: 55px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        overflow-x: scroll;
        scrollbar-width: none;
        gap:10px;
        .navCategory {
          padding:0 12px;
          width: fit-content;
          height: 55px;
          border-radius: 13px;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          color: #7c7c89;
          font-family: Gilroy;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 171%;
          white-space: nowrap;
          user-select: none;
        }
        .navCategoryActive{
          color: #FFF;
          background: #1A1A1D;
        }
      }
      .infoBlock {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;

        & h3 {
          color: #fff;
          font-family: Gilroy;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin: 31px 0 32px 0;
          width: 100%;
        }
        .scroller {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
