.wrapper {
  width: 123px;
  height: 51px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(228, 165, 32, 0.5);
  border: 1px solid #e4a520;
  color: #fff;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 171%;
  transition: 0.3s;
  position: relative;
  z-index: 2;
  transition:0.3s;
  &:hover {
    background: #e4a520;
    box-shadow: 0px 0px 27.7px 0px rgba(228, 165, 32, 0.25);
    color: #64480c;
    transition: 0.3s;
    cursor:pointer;
  }
  &.mouseDown {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 100%
      ),
      #e4a520;
    box-shadow: 0px 0px 27.7px 0px rgba(228, 165, 32, 0.25);
    color: #64480c;
  }
}
