@mixin text(){
    font-family: Gilroy;
    font-style: normal;
    line-height: normal;
}

.wrapper {
  width: 390px;
  height: 115px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.03);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 35px;
  &:hover{
    cursor:pointer;
  }
  .flexContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 21px;
    .iconContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      .background {
        width: 43px;
        height: 43px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon {
          width: 46px;
          aspect-ratio: 1/1;
          transform: translate(0, -2px);
        }
      }
    }
    .textBlock {
      height: 48px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      .name {
        @include text();
        font-size: 25px;
        font-weight: 800;
      }
      .nameBack {
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .followers {
        @include text();
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        span{
            color: rgba(255, 255, 255, 0.55); 
        }
      }

    }
  }
}
