.wrapper {
  width: 390px;
  height: 115px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.03);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 27px 0 0 35px;
  .flexContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    .iconContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      .background {
        width: 43px;
        height: 43px;
        border-radius: 50%;
        border: 6px solid #7289da;
        box-shadow: 0px 0px 47.033px 0px rgba(114, 137, 218, 0.55);
        display:flex;
        justify-content: center;
        align-items: center;
        .icon {
          width: 46px;
          aspect-ratio: 1/1;
          transform:translate(0, -2px);
        }
      }
    }
  }
}
