.wrapper {
  width: min(1920px, 99vw);
  min-height: 941px;
  margin: 0 auto;
  background: #0e0e10;
  position: relative;
  .logo {
    width: 317px;
    position: absolute;
    top: min(127px, 8vw);
    right: min(333px, 5vw);
  }
  .header {
    margin: 84px 0 24px min(332px, 18vw);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
    height: 62px;
    position: relative;
    z-index: 2px;
    .title {
      color: #eaeaea;
      text-align: center;
      font-family: Gilroy;
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .pseudoButton {
      width: 261px;
      height: 41px;
      border-radius: 8px;
      background: #e4a520;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #64480c;
      font-family: Gilroy;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 154%;
      margin-top: 12px;
    }
  }
  .description {
    margin-left: min(332px, 18vw);
    max-width: 748px;
    height: auto;
    color: rgba(255, 255, 255, 0.55);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
  }
  .cardWrapper {
    display:flex;
    flex-flow: row wrap;
    column-gap: 38px;
    justify-content: center;
    align-items: center;
    width:min(1255px, 98vw);
    margin:87px auto 0px;
    .cardContainer {
      width: 393px;
      height: 487px;
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      .number {
        color: rgba(255, 255, 255, 0.55);
        font-family: Gilroy;
        font-size: 360px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        mix-blend-mode: overlay;
        position: absolute;
        top: -94px;
        z-index: 1;
      }
      .HTPCard {
        position: relative;
        z-index: 2;
      }
    }
  }
}
@media (max-width:1293px){
  .logo{
    display:none;
  }
}
@media (max-width:1280px){
  .cardContainer:last-child{
    margin-top:20px;
  }
}

@media (max-width:767px){
  
}