.header{
  display:flex;
  flex-flow:column nowrap;
  justify-content: flex-start;
  align-items: center;
  width:100vw;
  height:1080px;
  margin:0 auto;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: auto;
  position:relative;
}
.footer{
  max-width:1920px;
  min-height:190px;
  margin:0 auto;
  display:flex;
  flex-flow:row nowrap;
  justify-content: center;
  align-items: center;
  background:#0E0E10;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../pages/fonts/Gilroy-Regular.ttf');
  src: local('Gilroy'),
      url('../pages/fonts/Gilroy-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../pages/fonts/Gilroy-SemiBold.ttf');
  src: local('Gilroy'),
      url('../pages/fonts/Gilroy-SemiBold.ttf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../pages/fonts/Gilroy-Bold.ttf');
  src: local('Gilroy'),
      url('../pages/fonts/Gilroy-Bold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
}