.wrapper{
    width:1920px;
    height:1080px;
    margin:0 auto;
    background: #0E0E10;
    .header{
        width:100%;
        height:auto;
        display:flex;
        flex-flow:row nowrap;
        justify-content: space-between;
        align-items: center;
        margin:42px 42px 0 49px;
        .logo{
            width:130px;
        }
    }
}