@mixin baseFont(){
    font-family: Gilroy;
    font-style: normal;
    line-height: normal;
}

.wrapper {
  width: min(1920px, 99vw);
  height:fit-content;
  min-height:1080px;
  background: #0e0e10;
  margin: 0 auto;
  position:relative;
  .logo{
    position:absolute;
    top:505px;
    right:171px;
    width:382px;
    height:70px;
    z-index:2;
  }
  .baseballImage{
    position:absolute;
    top:37px;
    left:738px;
    width:164px;
  }
  .akImage{
    position:absolute;
    bottom:14px;
    left:227px;
  }
  .gunImage{
    position:absolute;
    top:415px;
    //left:1589px;
    right:calc(1920px - 1589px - 251px);
    width:251px;
    height:200px;
  }
  .crossImage1{
    position:absolute;
    bottom:132px;
    left:90px;
  }
  .crossImage2{
    position:absolute;
    bottom:193px;
    right:124px;
  }
  .mobileBaseballImage{
    display:none;
  }
  .ak2Image{
    display:none;
  }
  .title {
    margin: 94px 0 0 90px;
    color: #eaeaea;
    @include baseFont();
    font-size: 50px;
    font-weight: 700;
  }
  .description {
    position:relative;
    z-index:2;
    width:min(1103px, 90vw);
    height:auto;
    margin: 53px min(90px, 5vw) 0 min(90px, 5vw);
    color: rgba(255, 255, 255, 0.55);
    @include baseFont();
    font-size: 18px;
    font-weight: 500;
    line-height: 172%;
    & p{
        margin-bottom:26px;
    }
  }
}

@media (max-width:1675px){
  .logo{
    display:none;
  }
}
@media (max-width:1387px){
  .gunImage{
    display:none;
  }
}
@media (max-width:938px){
  .akImage{
    display:none;
  }
}
@media (max-width:767px){
  .wrapper{
    overflow:hidden;
  }
  .wrapper .title{
    font-size: 30px;
    margin:41px auto 30px;
    text-align: center;
    position:relative;
    z-index:2;
  }
  .wrapper .description{
    font-size: 16px;
    margin: 0 50px 46px;
    width:fit-content;
    text-align: center;
    position:relative;
    z-index:2;
  }
  .wrapper .akImage{
    display:block;
    top:-5%;
    left:-200px;
    transform:rotate(30deg) scale(0.5);
  }
  .wrapper .gunImage{
    display:block;
    top:23%;
    right:-89px;
    transform:rotate(-5deg) scale(0.5);
  }
  .wrapper .crossImage1{
    top:27%;
    left:25px;
  }
  .wrapper .crossImage2{
    display:none;
  }
  .wrapper .mobileBaseballImage{
    display:block;
    position:absolute;
    top:51%;
    left:0px;
  }
  .wrapper .baseballImage{
    display:none;
  }
  .wrapper .ak2Image{
    display:block;
    position:absolute;
    top:70%;
    right:0px;
  }
}