@mixin baseFont(){
    font-family: Gilroy;
    font-style: normal;
    line-height: normal;
}

.wrapper {
  width: min(1920px, 100vw);
  height: 1080px;
  background: #0e0e10;
  margin: 0 auto;
  position:relative;
  .logo{
    position:absolute;
    top:505px;
    right:171px;
    width:382px;
    height:70px;
    z-index:2;
  }
  .baseballImage{
    position:absolute;
    top:37px;
    left:738px;
    width:164px;
  }
  .akImage{
    position:absolute;
    bottom:14px;
    left:227px;
  }
  .gunImage{
    position:absolute;
    top:415px;
    //left:1589px;
    right:calc(1920px - 1589px - 251px);
    width:251px;
    height:200px;
  }
  .crossImage1{
    position:absolute;
    bottom:132px;
    left:90px;
  }
  .crossImage2{
    position:absolute;
    bottom:193px;
    right:124px;
  }
  .title {
    margin: 94px 0 0 90px;
    color: #eaeaea;
    @include baseFont();
    font-size: 50px;
    font-weight: 700;
  }
  .description {
    position:relative;
    z-index:2;
    width:min(1103px, 90vw);
    height:auto;
    margin: 53px min(90px, 5vw) 0 min(90px, 5vw);
    color: rgba(255, 255, 255, 0.55);
    @include baseFont();
    font-size: 18px;
    font-weight: 500;
    line-height: 172%;
    & p{
        margin-bottom:26px;
    }
  }
}
