.wrapper {
  width: min(1920px, 100vw);
  height: max(2754px, 1px);
  background: #0e0e10;
  position: relative;
  & > div:nth-child(20) {
    margin: 168px auto 48px;
  }
  .circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 197px;
    left: 1000px;
    background: radial-gradient(rgba(218, 175, 45, 0.5) 0%, transparent 70%);
    mask-image:radial-gradient(#000 0%, transparent 70%);
    .img {
      width: 600px;
      height: 600px;
      mix-blend-mode: overlay;
      opacity:0.05;
    }
  }

  .crossBlurSmall{
    position:absolute;
    top:21px;
    right:139px;
    mix-blend-mode: overlay;
  }
  .crossSharpSmall1{
    position:absolute;
    top:55px;
    left:200px;
  }
  .crossSharpSmall2{
    position:absolute;
    top:347px;
    right:338px;
  }
  .crossSharpSmall3{
    position:absolute;
    top:831px;
    left:127px;
  }
  .crossSharpSmall4{
    position:absolute;
    top:1455px;
    right:228px;
  }
  .ak1{
    position:absolute;
    top:156px;
    left:1038px;
  }
  .ak2{
    position:absolute;
    top:276px;
    left:826px;
  }
  .ak3{
    position:absolute;
    top:1088px;
    left:0px;
  }
  .ak4{
    position:absolute;
    top:2439px;
    right:0px;
  }
  .crossBlurLarge1{
    position:absolute;
    top:487px;
    left:246px;
    mix-blend-mode: overlay;
  }
  .crossBlurLarge2{
    position:absolute;
    top:737px;
    right:69px;
    mix-blend-mode: overlay;
  }
  .crossBlurLarge3{
    position:absolute;
    top:1712px;
    left:129px;
    mix-blend-mode: overlay;
  }
  .baseball1{
    position: absolute;
    top:612px;
    left:961px;
  }
  .baseball2{
    position: absolute;
    top:2170px;
    left:137px;
  }
  .gun1{
    position: absolute;
    top:605px;
    left:1436px;
  }
  .gun2{
    position: absolute;
    top:1604px;
    right:30px;
  }
  .crossSharpLarge{
    position: absolute;
    top:2269px;
    right:150px;
  }


  .titleBlock {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 43px;
    margin: 238px 0 0 341px;
    .title {
      display: flex;
      flex-flow: row wrap;
      width: 554px;
      height: 168px;
      color: #fff;
      font-family: Gilroy;
      font-size: 67px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      & span:nth-child(2) {
        color: #daaf2d;
        font-style: italic;
        margin-left: 10px;
      }
      & span:nth-child(3) {
        background: linear-gradient(180deg, #de851f 7%, #db1c1c 121.63%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-style: italic;
        margin-left: 1px;
        padding-right: 3px;
      }
      & span:last-child {
        color: #e4a520;
        margin-left: 10px;
      }
    }
    .description {
      color: rgba(255, 255, 255, 0.55);
      font-family: Gilroy;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 29px;
      width: 515px;
      height: auto;
    }
    .info {
      width: 100%;
      height: auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      gap: 44px;
      .infoItem {
        .infoValue {
          color: #daaf2d;
          font-family: Gilroy;
          font-size: 45px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
        }
        .infoTitle {
          color: rgba(255, 255, 255, 0.55);
          font-family: Gilroy;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 29px;
        }
      }
    }
  }
}
