.wrapper {
  width: 0px;
  height: 0px;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 10;
  user-select: none;
  .hamburgerIcon {
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 11;
  }
  .menuWrapper {
    display: none;
    width: 100%;
    height: 100%;
  }
  .menuWrapperActive {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    background: rgba(29, 29, 31, 0.78);
    backdrop-filter: blur(18.950000762939453px);
    padding: 24px;
    row-gap: 51px;
    .logo {
      margin: 0px 0px 6px 0px;
    }
    .menuItem {
      width:100%;
      color: #eaeaea;
      text-align: center;
      font-family: Gilroy;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 201.8%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 13px;
      .mainItem {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 13px;
        .arrowRight{
          width:31px;
        }
        .arrowRightActive{
          transform:rotate(90deg);
        }
      }
      .subItems {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 9px;
        .subItem {
          width: 100%;
          height: 50px;
          border-radius: 8px;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          padding: 0px 0px 0px 12px;
          .icon {
            width: 37px;
            height: auto;
          }
          .title {
            color: #7c7c89;
            text-align: center;
            font-family: Gilroy;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: none;
          }
          .titleActive{
            color:#daaf2d
          }
        }
        .subItemActive{
          background: #303034;
        }
      }
    }
    .menuItemActive {
      color: #daaf2d;
    }
    & .menuItem:nth-child(6) {
      margin-bottom: 114px;
    }
  }
}
.wrapperActive {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
