.wrapper {
  width: 1920px;
  height: 1080px;
  position: relative;
  background: radial-gradient(
      75.83% 75.83% at 50% 50%,
      rgba(59, 59, 65, 0.25) 0%,
      rgba(37, 37, 41, 0) 100%
    ),
    #0e0e10;
  .tiktokBackground {
    position: absolute;
    top: 34px;
    left: 247px;
    width: 308px;
    height: 308px;
  }
  .youtubeBackground {
    position: absolute;
    top: 32px;
    left: 1543px;
    width: 320px;
    height: 320px;
  }
  .telegramBackground {
    position: absolute;
    top: 802px;
    left: 198px;
    width: 134px;
    height: 134px;
  }
  .vkBackground {
    position: absolute;
    top: 726px;
    left: 1132px;
    width: 356px;
    height: 356px;
  }
  .content {
    margin: 319px auto 8px;
    .title {
      color: #fff;
      font-family: Gilroy;
      font-size: 45px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-align: center;
    }
    .description {
      color: rgba(255, 255, 255, 0.55);
      font-family: Gilroy;
      font-size: 25px;
      font-style: normal;
      font-weight: 600;
      line-height: 154%;
      text-align: center;
    }
  }
  .flexContainer{
    width:1260px;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    gap:45px;
    margin:58px auto 0;
  }
}
