.wrapper {
  width: 140px;
  height: 51px;
  border-radius: 7px;
  background: #e4a520;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  .icon {
    width: 22px;
    aspect-ratio: 1/1;
  }
  & span {
    color: #64480c;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 171%;
    user-select: none;
  }
}
.wrapperHover {
  cursor: pointer;
  background: #e4a520;
  box-shadow: 0px 0px 27.7px 0px rgba(228, 165, 32, 0.25);
}
.wrapperClicked {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    #e4a520;
  box-shadow: 0px 0px 27.7px 0px rgba(228, 165, 32, 0.25);
}
